@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these classes for 3D card effects */
.perspective-1000 {
  perspective: 1000px;
}

.group-hover\:animate-shine:hover {
  animation: shine 1s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

